/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2019, 12:13:48 PM
    Author     : remyb
*/

* {
    
padding:0;
margin:0; 
border:0;}


h1{
   margin-top:50px; 
    
   text-align: center;
    padding-top:10px;



font-family: 'Lato', sans-serif;

}

nav{
    
   
 align-content: center;   
 height:30px;
 
 background-color:#0984e3;
}


ul {
    
    

list-style-type: none;


padding-right:10px;
}
.row1{
    text-align:center;
     font-weight: bold;
text-transform: capitalize;
background-color:pink; 
font-family: 'Lato', sans-serif;
    
    
}

table{ 
    
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    
    width:75%}
td{ 

    border: 2px;
    border-style:solid;   

padding:0;
margin:0;
}
table{
    
  
}
form{
    position:relative;
    width:900px;
     margin:50px;
    
    border-style:solid;
    
     font-family: 'Lato', sans-serif;
    border: 5px;}
input{
    text-align: center;
    position:absolute;
   
    left:75px;
    margin:10px;
 
    background-color:#fdcb6e; 
   
    border-style:solid; border: 50px;

margin-left:auto;
margin-right:auto;

}
p{ 
    font-weight: bold;
    
    padding-top:60px;
    font-family: 'Lato', sans-serif;
    text-align:center;}
a{ 
   text-decoration:none;
    color:white;
    font-family: 'Lato', sans-serif;
    padding-bottom:10px;
}
li{
  padding-right:10px;   
padding-top:10px;
padding-bottom:0;
float:left;  
padding-right:10px;
}
         